{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "cypress/globals": true
  },
  "plugins": ["svelte3", "cypress"],
  "overrides": [
    {
      "files": ["**/*.svelte"],
      "processor": "svelte3/svelte3"
    }
  ],
  "extends": "eslint:recommended",
  "rules": {
    "semi": [1, "never"],
  },
}
